* {
  font-family: 'Proza Libre', sans-serif;
  color: #333;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}

img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

h2 {
  margin: 16px 0;
}

h3,
p {
  margin: 0 0 1rem 0;
}

h4 {
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 100%;
}

.rowContent {
  flex-basis: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formItems {
  width: 100%;
  border: 1px solid #b6b6b6;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.formItems:focus {
  outline-color: #562b81;
}

.nav {
  background-color: #562b81;
  height: 40px;
}

.navContent {
  margin: 0;
  color: #f0f0f0;
}

.hoverRight {
  justify-content: left;
}

.pushright {
  margin-left: 1.25rem;
}

.submitButton {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  border: 0;
  background-color: #562b81;
  color: #fff;
  margin-bottom: 1rem;
}

.clmHalf {
  width: 100%;
}

@media only screen and (min-width: 650px) {
  .rowContent {
    max-width: 700px;
  }

  .clmHalf {
    flex-basis: 48%;
  }

  img {
    min-height: 170px;
    height: 35vh;
  }

  .historyImg {
    min-height: 170px;
    height: 330px;
  }
}

.justifyRight {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button {
  height: 1.75rem;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  border: 0;
  background-color: #562b81;
  color: #fff;
}

.alignItemsCenter {
  align-items: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}
